    <fieldset>


      <div class="field">
        <%= f.hidden_field :user_id, :value => @user.id %>
      </div>
  <div class="field">
    <%= f.hidden_field :project_id, :value => @project.id %>
  </div>
     <div class="field">
       <%= f.hidden_field :project_role_id, :value => @project_manager_role.id %>
     </div>

   </fieldset>


