body > .container {
    padding-top: 60px;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:80px;
}

fieldset.scheduler-border {
    border: 2px groove #ddd !important;
    border-color:#000000;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:13px;font-color:black;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:13px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-2ixt{background-color:#340096;color:#ffffff}
.tg .tg-cxkv{background-color:#ffffff}
.tg .tg-s6z2{text-align:center}
.tg .tg-lkh3{background-color:#9aff99}
.tg .tg-79v0{background-color:#00d2cb}
.tg .tg-xxs3{background-color:#32cb00}
.tg .tg-7q1t{background-color:#cd9934}
.tg .tg-rpj7{background-color:#fd6864}
.tg .tg-3ope{background-color:#ffcb2f}
.tg .tg-thls{background-color:#009901}
.centerclass {align:center}
.fieldsetclass {
    display: block

}